<a href="https://www.kaggle.com/code/tayen1/nyc-taxi-duration?scriptVersionId=237080162" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

<a href="https://www.kaggle.com/code/tayen1/nyc-taxi-duration?scriptVersionId=236903184" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

<a href="https://www.kaggle.com/code/tayen1/nyc-taxi-duration?scriptVersionId=235741972" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

<a href="https://www.kaggle.com/code/tayen1/nyc-taxi-duration?scriptVersionId=235737872" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

<a href="https://www.kaggle.com/code/tayen1/nyc-taxi-duration?scriptVersionId=235734476" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import zipfile
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_percentage_error,median_absolute_error,r2_score,explained_variance_score
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os

output_dir = '/kaggle/working/'

for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        data_path_name = os.path.join(dirname, filename)
        print(data_path_name)
        with zipfile.ZipFile(data_path_name, 'r') as zip_ref:
            zip_ref.extractall(output_dir)

print("Finish unzip")

for dirname, _, filenames in os.walk(output_dir):
    for filename in filenames:
        print(os.path.join(output_dir, filename))

/kaggle/input/nyc-taxi-trip-duration/train.zip
/kaggle/input/nyc-taxi-trip-duration/test.zip
/kaggle/input/nyc-taxi-trip-duration/sample_submission.zip
Finish unzip
/kaggle/working/test.csv
/kaggle/working/sample_submission.csv
/kaggle/working/train.csv

In [2]:
test_df = pd.read_csv("/kaggle/working/test.csv")
train_df = pd.read_csv("/kaggle/working/train.csv")
sample_submission_df = pd.read_csv("/kaggle/working/sample_submission.csv")

In [3]:
train_df

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435
...,...,...,...,...,...,...,...,...,...,...,...
1458639,id2376096,2,2016-04-08 13:31:04,2016-04-08 13:44:02,4,-73.982201,40.745522,-73.994911,40.740170,N,778
1458640,id1049543,1,2016-01-10 07:35:15,2016-01-10 07:46:10,1,-74.000946,40.747379,-73.970184,40.796547,N,655
1458641,id2304944,2,2016-04-22 06:57:41,2016-04-22 07:10:25,1,-73.959129,40.768799,-74.004433,40.707371,N,764
1458642,id2714485,1,2016-01-05 15:56:26,2016-01-05 16:02:39,1,-73.982079,40.749062,-73.974632,40.757107,N,373
1458643,id1209952,1,2016-04-05 14:44:25,2016-04-05 14:47:43,1,-73.979538,40.781750,-73.972809,40.790585,N,198

In [4]:
test_df

,id,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag
0,id3004672,1,2016-06-30 23:59:58,1,-73.988129,40.732029,-73.990173,40.756680,N
1,id3505355,1,2016-06-30 23:59:53,1,-73.964203,40.679993,-73.959808,40.655403,N
2,id1217141,1,2016-06-30 23:59:47,1,-73.997437,40.737583,-73.986160,40.729523,N
3,id2150126,2,2016-06-30 23:59:41,1,-73.956070,40.771900,-73.986427,40.730469,N
4,id1598245,1,2016-06-30 23:59:33,1,-73.970215,40.761475,-73.961510,40.755890,N
...,...,...,...,...,...,...,...,...,...
625129,id3008929,1,2016-01-01 00:02:52,1,-74.003464,40.725105,-74.001251,40.733643,N
625130,id3700764,1,2016-01-01 00:01:52,1,-74.006363,40.743782,-73.953407,40.782467,N
625131,id2568735,1,2016-01-01 00:01:24,2,-73.972267,40.759865,-73.876602,40.748665,N
625132,id1384355,1,2016-01-01 00:00:28,1,-73.976501,40.733562,-73.854263,40.891788,N
625133,id0621643,2,2016-01-01 00:00:22,2,-73.981850,40.716881,-73.969330,40.769379,N

In [5]:
sample_submission_df

               id  trip_duration
0       id3004672            959
1       id3505355            959
2       id1217141            959
3       id2150126            959
4       id1598245            959
...           ...            ...
625129  id3008929            959
625130  id3700764            959
625131  id2568735            959
625132  id1384355            959
625133  id0621643            959

[625134 rows x 2 columns]

In [4]:
print(train_df.isnull().sum())
print(test_df.isnull().sum())

id                    0
vendor_id             0
pickup_datetime       0
dropoff_datetime      0
passenger_count       0
pickup_longitude      0
pickup_latitude       0
dropoff_longitude     0
dropoff_latitude      0
store_and_fwd_flag    0
trip_duration         0
dtype: int64
id                    0
vendor_id             0
pickup_datetime       0
passenger_count       0
pickup_longitude      0
pickup_latitude       0
dropoff_longitude     0
dropoff_latitude      0
store_and_fwd_flag    0
dtype: int64

In [7]:
print(train_df.duplicated().sum())
print(test_df.duplicated().sum())

0
0

In [8]:
train_df.dtypes

id                     object
vendor_id               int64
pickup_datetime        object
dropoff_datetime       object
passenger_count         int64
pickup_longitude      float64
pickup_latitude       float64
dropoff_longitude     float64
dropoff_latitude      float64
store_and_fwd_flag     object
trip_duration           int64
dtype: object

In [4]:
#Obtain the day of the week and the hour of pickup from the train data
train_df['pickup_datetime'] = pd.to_datetime(train_df['pickup_datetime'], format='%Y-%m-%d %H:%M:%S')
train_df['pickup_week'] = train_df['pickup_datetime'].dt.day_name()
train_df['pickup_hour'] = train_df['pickup_datetime'].dt.hour
#Obtain the day of the week and the hour of pickup from the test data
test_df['pickup_datetime'] = pd.to_datetime(test_df['pickup_datetime'], format='%Y-%m-%d %H:%M:%S')
test_df['pickup_week'] = test_df['pickup_datetime'].dt.day_name()
test_df['pickup_hour'] = test_df['pickup_datetime'].dt.hour

In [5]:
def haversine_np(lat1, lon1, lat2, lon2):
    R = 6371.0
    q = np.radians(lat1)
    w = np.radians(lat2)
    e = np.radians(lat2 - lat1)
    r = np.radians(lon2 - lon1)
    
    a = np.sin(e/2.0)**2 + np.cos(q) * np.cos(w) * np.sin(r/2.0)**2
    c = 2 * np.arcsin(np.sqrt(a))
    return R * c

In [6]:
#Get the distace from point to point
train_df['distance_km'] = haversine_np(train_df['pickup_latitude'],
    train_df['pickup_longitude'],
    train_df['dropoff_latitude'],
    train_df['dropoff_longitude'])
#Get the distace from point to point
test_df['distance_km'] = haversine_np(test_df['pickup_latitude'],
    test_df['pickup_longitude'],
    test_df['dropoff_latitude'],
    test_df['dropoff_longitude'])

In [8]:
train_df.head()
test_df.head()

,id,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,pickup_week,pickup_hour,distance_km
0,id3004672,1,2016-06-30 23:59:58,1,-73.988129,40.732029,-73.990173,40.756680,N,Thursday,23,2.746426
1,id3505355,1,2016-06-30 23:59:53,1,-73.964203,40.679993,-73.959808,40.655403,N,Thursday,23,2.759239
2,id1217141,1,2016-06-30 23:59:47,1,-73.997437,40.737583,-73.986160,40.729523,N,Thursday,23,1.306155
3,id2150126,2,2016-06-30 23:59:41,1,-73.956070,40.771900,-73.986427,40.730469,N,Thursday,23,5.269088
4,id1598245,1,2016-06-30 23:59:33,1,-73.970215,40.761475,-73.961510,40.755890,N,Thursday,23,0.960842

In [9]:
#Observe datatype of the columns
print(train_df.dtypes)
print(test_df.dtypes)

id                            object
vendor_id                      int64
pickup_datetime       datetime64[ns]
dropoff_datetime              object
passenger_count                int64
pickup_longitude             float64
pickup_latitude              float64
dropoff_longitude            float64
dropoff_latitude             float64
store_and_fwd_flag            object
trip_duration                  int64
pickup_week                   object
pickup_hour                    int32
distance_km                  float64
dtype: object
id                            object
vendor_id                      int64
pickup_datetime       datetime64[ns]
passenger_count                int64
pickup_longitude             float64
pickup_latitude              float64
dropoff_longitude            float64
dropoff_latitude             float64
store_and_fwd_flag            object
pickup_week                   object
pickup_hour                    int32
distance_km                  float64
dtype: object

In [8]:
#Define the independent variables in categories 
cat_cols = ['vendor_id', 'store_and_fwd_flag', 'pickup_week']
num_cols   = ['passenger_count','pickup_longitude', 'pickup_latitude','dropoff_longitude', 'dropoff_latitude','pickup_hour', 'distance_km']

In [9]:

train_df['log_trip_duration'] = np.log1p(train_df['trip_duration'])

In [10]:
X = train_df[num_cols + cat_cols]
y = train_df['log_trip_duration']
X_test  = test_df[num_cols + cat_cols]
x_train,x_val,y_train,y_val = train_test_split(X, y, test_size=0.2, random_state=42, shuffle=True)

In [11]:
#Set up a preprocessing pipeline
preprocessor = ColumnTransformer(transformers=[ ('num', StandardScaler(), num_cols),('cat', OneHotEncoder(handle_unknown='ignore', sparse=False), cat_cols)])

In [12]:
X_train_proc = preprocessor.fit_transform(x_train)
X_test_proc  = preprocessor.transform(x_val)

/usr/local/lib/python3.11/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [13]:
RF = RandomForestRegressor(n_estimators=50, random_state=42)
RF.fit(X_train_proc, y_train)
P_RF = RF.predict(X_test_proc)

In [15]:
metrics = {
    'MSE (Actual value)'      : mean_squared_error(np.expm1(y_val), np.expm1(P_RF)),
    'MAPE'     : mean_absolute_percentage_error(y_val, P_RF),
    'MedianAE' : median_absolute_error(y_val, P_RF),
    'R2'       : r2_score(y_val, P_RF),
    'ExplVar'  : explained_variance_score(y_val, P_RF),
    "rmsle" : np.sqrt(mean_squared_error(y_val, P_RF ))
}
for name, val in metrics.items():
    print(f"{name:7s}: {val:.4f}")

MSE (Actual value): 10255484.6966
MAPE   : 0.0428
MedianAE: 0.1875
R2     : 0.7355
ExplVar: 0.7356
rmsle  : 0.4097

In [3]:
# 1. Data Preprocessing

# store_and_fwd_flag: N=0, Y=1
train_df['store_and_fwd_flag'] = train_df['store_and_fwd_flag'].map({'N':0, 'Y':1})

# pickup_datetime ➔  pickup_hour, pickup_day
train_df['pickup_datetime'] = pd.to_datetime(train_df['pickup_datetime'])
train_df['pickup_hour'] = train_df['pickup_datetime'].dt.hour
train_df['pickup_day'] = train_df['pickup_datetime'].dt.dayofweek

# haversine distance
def haversine_distance(lat1, lon1, lat2, lon2):
    R = 6371
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2
    c = 2 * np.arcsin(np.sqrt(a))
    return R * c

train_df['haversine_distance'] = haversine_distance(
    train_df['pickup_latitude'],
    train_df['pickup_longitude'],
    train_df['dropoff_latitude'],
    train_df['dropoff_longitude']
)

# manhattan distance
train_df['manhattan_distance'] = (
    np.abs(train_df['dropoff_longitude'] - train_df['pickup_longitude']) +
    np.abs(train_df['dropoff_latitude'] - train_df['pickup_latitude'])
)

# rush_hour, weekend
train_df['rush_hour'] = train_df['pickup_hour'].apply(lambda x: 1 if (7 <= x <= 9) or (16 <= x <= 19) else 0)
train_df['weekend'] = train_df['pickup_day'].apply(lambda x: 1 if x >= 5 else 0)

In [4]:
#Create natural zones from coordenates
from sklearn.cluster import KMeans
# sample a subset of lat/lon pairs for clustering
coords = np.vstack([
    train_df[['pickup_latitude','pickup_longitude']].values,
    train_df[['dropoff_latitude','dropoff_longitude']].values])
kmeans = KMeans(n_clusters=50, random_state=42).fit(coords)
# assign back to pickups and dropoffs
train_df['pu_cluster'] = kmeans.predict(train_df[['pickup_latitude','pickup_longitude']])
train_df['do_cluster'] = kmeans.predict(train_df[['dropoff_latitude','dropoff_longitude']])
train_df.head()

/usr/local/lib/python3.11/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/usr/local/lib/python3.11/dist-packages/sklearn/base.py:432: UserWarning: X has feature names, but KMeans was fitted without feature names
  warnings.warn(
/usr/local/lib/python3.11/dist-packages/sklearn/base.py:432: UserWarning: X has feature names, but KMeans was fitted without feature names
  warnings.warn(

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,pickup_hour,pickup_day,haversine_distance,manhattan_distance,rush_hour,weekend,pu_cluster,do_cluster
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,0,455,17,0,1.498521,0.019859,1,0,20,39
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,0,663,0,6,1.805507,0.026478,0,1,46,0
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,0,2124,11,1,6.385098,0.080158,0,0,20,10
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,0,429,19,2,1.485498,0.015480,1,0,10,10
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,0,435,13,5,1.188588,0.010818,0,1,27,4

In [17]:
train_df.columns

Index(['id', 'vendor_id', 'pickup_datetime', 'dropoff_datetime',
       'passenger_count', 'pickup_longitude', 'pickup_latitude',
       'dropoff_longitude', 'dropoff_latitude', 'store_and_fwd_flag',
       'trip_duration', 'pickup_hour', 'pickup_day', 'haversine_distance',
       'manhattan_distance', 'rush_hour', 'weekend', 'pu_cluster',
       'do_cluster'],
      dtype='object')

In [6]:
#Define the independent variables in categories 
cat_cols = ['vendor_id', 'store_and_fwd_flag', 'pickup_day','pickup_hour','rush_hour','weekend','pu_cluster','do_cluster']
num_cols   = ['passenger_count','pickup_longitude', 'pickup_latitude','dropoff_longitude', 'dropoff_latitude', 'manhattan_distance','haversine_distance']

In [7]:
lower_bound = 10
upper_bound = 3600

train_df_cleaned = train_df[(train_df['trip_duration'] >= lower_bound) & (train_df['trip_duration'] <= upper_bound)]

print(f"Before handling outliers, there are {train_df.shape[0]} rows. After handling outliers, there are {train_df_cleaned.shape[0]} rows.")

Before handling outliers, there are 1458644 rows. After handling outliers, there are 1444343 rows.

In [8]:
X = train_df_cleaned[num_cols + cat_cols]
y = np.log1p(train_df_cleaned['trip_duration'])
x_train,x_val,y_train,y_val = train_test_split(X, y, test_size=0.2, random_state=42, shuffle=True)

In [9]:
scaler = StandardScaler()
x_train[num_cols] = scaler.fit_transform(x_train[num_cols])
x_val[num_cols]  = scaler.transform(x_val[num_cols])

In [10]:
import xgboost as xgb
model_raw = xgb.XGBRegressor(objective='reg:squarederror', n_estimators=300, learning_rate=0.1, max_depth=6, random_state=42)
model_raw.fit(x_train, y_train)
pred_raw = model_raw.predict(x_val)

In [11]:
rmsle = mean_squared_error(y_val, pred_raw, squared=False)

print(f"RMSLE after Feature Engineering: {rmsle:.4f}")

RMSLE after Feature Engineering: 0.3530